page-register {
    
    .heading{
        margin-top: 15%;
        text-align: center;
        font-size: 18px;
        color: #243B6B;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 4px;
    }
}
