page-edit-shopping-item {
    .edit-item-content{
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 10%;
    }
    ion-input{
        margin-bottom: 2%;
        border-radius: 10px !important;
        background-color: #E2EBF5;
    }
    .sub-heading{
        font-size: 12px;
        color: #243B6B;
        margin-bottom: 2%;
    }
    .update-button{
        margin-top: 10%;
        background-color: #243B6B;
        height: 55px;
        font-size: 15px;
        text-transform: capitalize;
        border-radius: 10px;
    }
    .ion-edit-shopping{
        padding-left: 0px;
    }
    .ion-edit-shopping .item-inner{
        padding-right: 0px !important;
    }
}
