<ion-header no-shadow no-border>
    <ion-navbar class="nav-header" color="navColorLight">
        <ion-title class="nav-header-title">{{storeName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <ion-list>
    <div class="firebase-item-list">
      <button ion-item class="firebase-ion-item" *ngFor="let item of shoppingListRef$ | async" (click)="itemActionSheetCartItems(item)">
        <ion-label class="walmart-itemname">
          <!-- <ion-row> -->
            <ion-item>
              <ion-thumbnail item-left>
                <img src={{item.thumbnailImage}}>
              </ion-thumbnail>  
              <ion-row>
                <h2 class="text-h2 item-name-cart">{{item.itemName}}</h2>
              </ion-row>
              <ion-row>
                <h3 class="text-h3"> Quantity: {{item.itemNumber}}</h3>
              </ion-row>
            </ion-item>
          <!-- </ion-row> -->
        </ion-label>
      </button>
      <button ion-item class="firebase-ion-item" *ngFor="let item of pickedListRef$ | async" (click)="itemActionSheetPickedItems(item)">
        <ion-label class="walmart-itemname">
          <ion-item>
            <ion-thumbnail item-left>
              <img src={{item.thumbnailImage}}>
            </ion-thumbnail>  
            <ion-row>              
              <h2 class="text-h2 item-name-picked">{{item.itemName}}</h2>
              <h3 class="text-h3"> Quantity: {{item.pickedQuantity}}</h3>
            </ion-row>
          </ion-item>
        </ion-label>
      </button>
    </div> 
  </ion-list>
  <div class="row">       
      <ion-fab class="col col-20" (click)="cancelInstoreShopping()">
        <button ion-fab color="danger" mini><ion-icon name="close"></ion-icon></button>
      </ion-fab>   
      <!-- <ion-fab class="col col-20" (click)="openWalmartSearch()">
        <button ion-fab color="primary" mini><ion-icon name="ios-create"></ion-icon></button>
      </ion-fab>  -->
      <ion-fab class="col col-20" (click)="pauseShopping()">
        <button ion-fab color="secondary" mini><ion-icon name="pause"></ion-icon></button>
      </ion-fab> 
      <ion-fab class="col col-20" (click)="finishShopping()">
        <button ion-fab color="primary" mini><ion-icon name="checkbox"></ion-icon></button>
      </ion-fab> 
      <ion-fab class="col col-20" (click)="scanWalmartCode()">
        <button ion-fab color="dark" mini><ion-icon name="qr-scanner"></ion-icon></button>
      </ion-fab>
  </div>
</ion-content>