page-shopping-item-list {

    .firebase-item-list{
        width: 100%;
        height: 100%; 
        overflow-y: auto;
    }
    .firebase-ion-item{
        padding-left: 0px;
    }
    ion-list{
        height: 85%;
    }    
    .walmart-itemname{
        white-space: normal;
        padding-left: 5%;
    }    
    .item-name-picked{
        color: blue;
    }
    .item-name-cart{
        color: red;
    }
}
