<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{storeName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content scroll="false">
  <ion-list>

    <h2 class="item-list-h2">Cart Items</h2>
    <div class="firebase-item-list">
      <ion-item class="firebase-ion-item" *ngFor="let item of shoppingListRef$ | async" (click)="itemActionSheetCartItems(item)">
        <ion-label class="walmart-itemname">
          <ion-row class="item-name-cart">{{item.itemName}}</ion-row>
          <ion-row> Quantity: {{item.itemNumber}}</ion-row>
        </ion-label>
      </ion-item>
      <ion-item class="firebase-ion-item" *ngFor="let item of pickedListRef$ | async" (click)="itemActionSheetPickedItems(item)">
        <ion-label class="walmart-itemname">
          <ion-row class="item-name-picked">{{item.itemName}}</ion-row>
          <ion-row> Quantity: {{item.pickedQuantity}}</ion-row>
        </ion-label>
      </ion-item>
    </div> 
  </ion-list>

  <!-- <ion-list>
    <h2 class="item-list-h2">Picked Items</h2>
    <div class="firebase-item-list">
      <ion-item class="firebase-ion-item" *ngFor="let item of pickedListArray" (click)="removeItem(item)">
        <ion-label class="walmart-itemname">
          <ion-row>{{item.itemName}}</ion-row>
          <ion-row> Quantity: {{item.itemNumber}}</ion-row>
        </ion-label>
      </ion-item>
    </div>
  </ion-list> -->

  <div class="row">       
      <ion-fab class="col col-20" (click)="cancelInstoreShopping()">
        <button ion-fab color="danger" mini><ion-icon name="close"></ion-icon></button>
      </ion-fab>   
      <ion-fab class="col col-20" (click)="openWalmartSearch()">
        <button ion-fab color="primary" mini><ion-icon name="ios-create"></ion-icon></button>
      </ion-fab> 
      <ion-fab class="col col-20" (click)="pauseShopping()">
        <button ion-fab color="secondary" mini><ion-icon name="pause"></ion-icon></button>
      </ion-fab> 
      <ion-fab class="col col-20" (click)="finishShopping()">
        <button ion-fab color="primary" mini><ion-icon name="checkbox"></ion-icon></button>
      </ion-fab> 
      <ion-fab class="col col-20" (click)="scanWalmartCode()">
        <button ion-fab color="dark" mini><ion-icon name="qr-scanner"></ion-icon></button>
      </ion-fab>
  </div>

</ion-content>