<ion-header no-shadow no-border>
    <ion-navbar class="nav-header" color="navColorLight">
        <ion-title class="nav-header-title">SHOPPING</ion-title>
  </ion-navbar>
</ion-header>

<div class="nav-header-second">Stores</div>
<ion-content class=" non-scorllable-content">
  <div *ngIf="isNotEmpty">
    <ion-item-group>
      <button ion-item *ngFor="let item of nextTripRef$ | async" (click)="navigateToShoppingItemList(item.$key)">
        <h1 class="text-h1-color">{{ item.$key }}</h1>
      </button>
    </ion-item-group>
  </div>
  <h1 class="text-h2-color empty-message" *ngIf="!isNotEmpty">No shopping lists created. Please create some trips so we can shop.</h1>

</ion-content>