<ion-header no-shadow no-border>
  <ion-navbar class="nav-header" color="navColorLight">     
      <ion-title class="nav-header-title">{{storeName}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-item *ngFor="let item of shoppingListRef$ | async" (click)="editShoppingList(item)">
    <ion-thumbnail item-start>
      <img src={{item.thumbnailImage}}>
    </ion-thumbnail>
    <h2 class="text-h2-color">{{item.itemName}}</h2>
    <h3 class="text-h2"> Quantity: {{item.itemNumber}}</h3>
    <ion-badge *ngIf="item.status == 'shareIn'" item-end>Shared from {{item.sharedArray[0].shopperName}}</ion-badge>
    <ion-badge *ngIf="item.status == 'shareOut'" item-end>Shared to {{item.sharedArray[0].shopperName}}</ion-badge>
  </button>
  <ion-fab bottom right>
    <button class="ion-fab-color" ion-fab mini (click)="navigateToShareGrocery()">
      <ion-icon name="share"></ion-icon>
    </button>
  </ion-fab>
</ion-content>