<ion-header no-shadow no-border>
    <ion-navbar class="nav-header" color="navColorLight">
        <ion-title class="nav-header-title">ADD BUDDY</ion-title>
    <ion-buttons end>
        <button ion-button (click)="skipContent()" icon-only> 
              <ion-icon class="button-icon-color" *ngIf ="!isAddBuddy" name="arrow-forward"></ion-icon>
              <!-- <ion-icon class="button-icon-color" *ngIf ="isAddBuddy" name="close-circle"></ion-icon> -->
            </button>    
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  
    <div class="ion-custom-content">
        <div class="sub-heading">E-mail </div>
        <ion-input class="input-color" type="email" [(ngModel)]="buddy1.email"></ion-input>
        <button class="ion-button-custom" ion-button block (click)="saveBuddyList()"> Add Buddy </button>
        <button class="ion-button-custom" ion-button block (click)="invitebuddy()"> Invite </button>
    </div>
<!-- <app-add-grocerybuddy-form></app-add-grocerybuddy-form> -->
<!-- <ion-card> 
  <ion-card-content>
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="email" [(ngModel)]="buddy1.email"></ion-input>
    </ion-item> -->
    <!-- <ion-item>
        <ion-label floating>Buddy 2</ion-label>
        <ion-input type="email" [(ngModel)]="buddy2.email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Buddy 3</ion-label>
          <ion-input type="email" [(ngModel)]="buddy3.email"></ion-input>
        </ion-item> -->
  <!-- </ion-card-content>
</ion-card> -->
<!-- <ion-item>
    <button ion-button outline large item-end (click)="saveBuddyList()">Add Buddy</button>
</ion-item> -->

<!-- <button ion-button block color="primary" (click)="invitebuddy()"> Invite </button> -->
</ion-content>

    
    
    
   