<!--
  Generated template for the AddPreferredStorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title style="text-align: center" >Add Preferred Store</ion-title>
    
    <ion-buttons end>
      <button ion-button (click)="skipContent()" icon-only> 
            <ion-icon  *ngIf ="!isAddstore" name="arrow-forward"></ion-icon>
            <ion-icon *ngIf ="isAddstore" name="close-circle"></ion-icon>
          </button>
  
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-searchbar 
    [(ngModel)]="autocomplete.query" 
    [showCancelButton]="true" 
    (ionInput)="updateSearch($event)" 
    (ionCancel)="dismiss()"
    placeholder="Start typing and select ...">
    </ion-searchbar>
    <div *ngIf="isStoreselected">
    <ion-item >
      <button ion-button outline item-end large (click)="addToPreferredStore()">Add Store</button>
    </ion-item>
  </div>
  
    <ion-list>
      <ion-item *ngFor="let item of autocompleteItems" 
      (click)="chooseItem(item)">
      {{ item.description }}
      </ion-item>
    </ion-list>

    <div #map id="map"></div>

</ion-content>
