<ion-header no-shadow no-border>
  <ion-navbar class="nav-header" color="navColorLight">
      <ion-title class="nav-header-title">ADD PREFERRED STORE</ion-title>
    
    <ion-buttons end *ngIf ="!isAddstore">
      <button ion-button (click)="skipContent()" icon-only>Done 
            <ion-icon class="button-icon-color"  name="arrow-forward"></ion-icon>
            <!-- <ion-icon *ngIf ="isAddstore" name="close-circle"></ion-icon> -->
          </button>  
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <!-- <ion-searchbar 
    [(ngModel)]="autocomplete.query" 
    [showCancelButton]="true" 
    (ionInput)="updateSearch($event)" 
    (ionCancel)="dismiss()"
    placeholder="Start typing and select ...">
    </ion-searchbar> -->
    <ion-input [(ngModel)]="autocomplete.query" placeholder="Start typing and select ...">
    </ion-input>
    <button ion-button (click)="updateSearch()">search</button>
    <div *ngIf="isStoreselected">
      <ion-item >
        <button ion-button outline item-end large (click)="addToPreferredStore()">Save Store</button>
      </ion-item>
    </div>
    
      <ion-list>
        <ion-item *ngFor="let item of autocompleteItems" 
        (click)="chooseItem(item)">
        <h2 class="text-h2-color">{{item.name}}</h2>
        <h3 class="text-h3">{{item.formatted_address}}</h3>
        </ion-item>
      </ion-list>
  
      <div #map id="map"></div>
      <ion-fab middle right>
        <button ion-fab mini (click)="getGeolocation()"><ion-icon name="locate"></ion-icon></button>
      </ion-fab>

</ion-content>
