<ion-header no-shadow no-border>
  <ion-navbar class="nav-header" color="navColorLight">
      <ion-title class="nav-header-title">SHOP BUDDY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
    <ion-item-group>
      <ion-item-divider class="previous-trip-item-header">Pending Invitations</ion-item-divider>
      <div *ngIf="buddyListPending.length > 0">
        <ion-item *ngFor="let buddyInvite of buddyListPending">
          <h2 class="text-h2-color">{{buddyInvite.buddy.firstName}} {{buddyInvite.buddy.lastName}}</h2>
          <div class= "pending-invitations__buttons">
            <button ion-button color="secondary" (click)="acceptInvite(buddyInvite)">Accept</button>
            <button ion-button color="danger" (click)="declineInvite(buddyInvite)">Decline</button>
            <button ion-button color="danger" (click)="declineInvite(buddyInvite)">ADecline</button>
          </div>
        </ion-item>
      </div>
      <h1 class="text-h2-color empty-message" *ngIf="buddyListPending.length == 0">No Pending Invitations</h1>
    </ion-item-group>
    
      <ion-item-group>
        <ion-item-divider class="previous-trip-item-header">Grocery Buddies</ion-item-divider>
        <div *ngIf="buddyListCompleted.length > 0">
            <ion-item *ngFor="let buddyInvites of buddyListCompleted">
              <h2 class="text-h2-color">{{buddyInvites.buddy.firstName}} {{buddyInvites.buddy.lastName}}</h2>
          </ion-item>
        </div>
        <h1 class="text-h2-color empty-message" *ngIf="buddyListCompleted.length == 0">None Yet</h1>
      </ion-item-group>
    <!-- <ion-card>
        <ion-card-title padding>
          Pending Invitations
        </ion-card-title>
        <ion-card-content>
         
          <ion-item *ngFor="let buddyInvite of buddyListPending"  >
            <div>
              <h3 padding>{{buddyInvite.buddy.firstName}} {{buddyInvite.buddy.lastName}}</h3>
              <div class= "pending-invitations__buttons">
                <button ion-button color="secondary" (click)="acceptInvite(buddyInvite)">Accept</button>
                <button ion-button color="danger" (click)="declineInvite(buddyInvite)">Decline</button>
              </div>
            </div>
          </ion-item>
          
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-title padding>
          Grocery Buddies
        </ion-card-title>
        <ion-card-content>
         
          <ion-item *ngFor="let buddyInvites of buddyListCompleted" >
            <div>
              <h3 padding>{{buddyInvites.buddy.firstName}} {{buddyInvites.buddy.lastName}}</h3>
            </div>
          </ion-item>
        </ion-card-content>
      </ion-card> -->

      <ion-fab bottom right >
          <button class="ion-fab-color" ion-fab mini (click)="navigateToAddBuddy()"><ion-icon name="person-add"></ion-icon></button>
        </ion-fab>

</ion-content>
