<ion-header no-shadow no-border>
  <ion-navbar class="nav-header" color="navColorLight">
    <ion-title class="nav-header-title">Select ShopBuddy</ion-title>
    <ion-buttons end>
      <button ion-button (click)="back()" icon-only>
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<div class="nav-header-second">Buddy</div>
<ion-content class="non-scorllable-content">
  <div *ngIf="isAvailable">
    <ion-item *ngFor="let item of buddyListCompleted" (click)="shareWithBuddy(item.buddy)">
        <h1 class="text-h1-color">{{item.buddy.firstName}} {{item.buddy.lastName}}</h1>
    </ion-item>
  </div>
  <div *ngIf="!isAvailable">
    <!-- <h2 style="text-align: center" padding>{{modelMessage}}</h2> -->
    <h1 class="text-h1-color">{{modelMessage}}</h1>
  </div>
</ion-content>