<ion-header no-shadow no-border>
    <ion-navbar class="nav-header" color="navColorLight">
        <ion-title class="nav-header-title">PAST TRIPS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let item of previousListArray.reverse()">
    <ion-item-group>
      <ion-item-divider class="previous-trip-item-header">{{ item.dateInFormat }}</ion-item-divider>
      <ion-item *ngFor="let store of item.store.reverse()" (click)="getItemPreviousTripByStore(item.date, store)">
        <h1 class="text-h2-color">{{ store.storeName }}</h1>
        <h3>Time : {{ store.time }}</h3>
      </ion-item>
    </ion-item-group>
  </div>
</ion-content>