<ion-header no-shadow no-border>
    <ion-navbar class="nav-header" color="navColorLight">
      <ion-title class="nav-header-title">Add To Next Trip</ion-title>
    </ion-navbar>  
  </ion-header>  
  
  <ion-content>
      <div class="ion-custom-content">
          <div class="sub-heading">Item Name </div>
          <ion-input class="input-color" type="text" [disabled]="true" [(ngModel)]="currentShoppingItem.itemName"></ion-input>
          <div class="sub-heading">Quantity </div>
          <ion-input class="input-color" type="number" [(ngModel)]="quantity"></ion-input>
          <div class="sub-heading">Store </div>
          <ion-item>
          <!-- <ion-input class="input-color" type="text" [(ngModel)]="currentShoppingItem.store"></ion-input> -->
          <ion-select class="input-color"  [(ngModel)]="currentShoppingItem.store"  placeholder = {{currentShoppingItem.store}}>
            <ion-option  *ngFor="let storeItem of storeList" value = {{storeItem.storeName}} >{{storeItem.storeName}}</ion-option>
          </ion-select>
        </ion-item>
          <div class="sub-heading">Shopper </div>
          <ion-item>
              <ion-select class="input-color" [(ngModel)]="shopperName" (ionChange)="userSelect($event)" placeholder = {{shopperName}}>
                <ion-option  *ngFor="let shopperItem of shopperNames" value = {{shopperItem.key}} >{{shopperItem.shopperName}}</ion-option>
              </ion-select>
          </ion-item>
          <button class="ion-button-custom" ion-button block (click)="addShoppingItem()"> Add Item </button>
      </div>
    
       

  <ion-fab bottom left>
    <button ion-fab mini (click)="navigateToAddPreferredStorePage()"><ion-icon name="basket"></ion-icon></button>
    </ion-fab>
 
  </ion-content>
  