<ion-header no-shadow no-border>
  <ion-navbar class="nav-header" color="navColorLight">   
      <ion-title class="nav-header-title">Add Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="ion-custom-content">
  <form [formGroup]="myForm" (ngSubmit)="addShoppingItemToMasterList()">
    
    <div class="sub-heading">Item Name </div>
    <ion-input class="input-color" formControlName="itemName" type="text" [(ngModel)]="currentShoppingItem.itemName"></ion-input>
    <ion-row *ngIf="formErrors.itemName">
      <div *ngFor="let errors of formErrors.itemName">
        <p class="alert">{{errors}}
          <p>
      </div>
    </ion-row>
    <div class="sub-heading">Store</div>
    <ion-input class="input-color" formControlName="storeName" type="text" [(ngModel)]="currentShoppingItem.store"></ion-input>
    <ion-row *ngIf="formErrors.storeName">
      <div *ngFor="let errors of formErrors.storeName">
        <p class="alert">{{errors}}
          <p>
      </div>
    </ion-row>
    <button class="ion-button-custom" ion-button block [disabled]="!myForm.valid"> Add Item </button> 
    <!-- <ion-list>
      <ion-item>
        <ion-label floating> Item Name </ion-label>
        <ion-input formControlName="itemName" type="text" [(ngModel)]="currentShoppingItem.itemName"></ion-input>
      </ion-item>
      <ion-row *ngIf="formErrors.itemName">
        <div *ngFor="let errors of formErrors.itemName">
          <p class="alert">{{errors}}
            <p>
        </div>
      </ion-row>
      <ion-item>
        <ion-label floating> Store </ion-label>
        <ion-input formControlName="storeName" type="text" [(ngModel)]="currentShoppingItem.store"></ion-input>
      </ion-item>
      <ion-row *ngIf="formErrors.storeName">
        <div *ngFor="let errors of formErrors.storeName">
          <p class="alert">{{errors}}
            <p>
        </div>
      </ion-row>
    </ion-list>
    <button ion-button block [disabled]="!myForm.valid"> Add Item </button> -->
  </form>
</div>

  <ion-fab bottom right >
    <button ion-fab mini><ion-icon name="ios-search"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab mini (click)="scanWalmartCode()"><ion-icon name="qr-scanner"></ion-icon></button>
      <button ion-fab mini (click)="openWalmartSearch()"><ion-icon name="ios-create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>